body {
  background-color: #FAFFD6;
  overflow: hidden;

}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  color: #E687FF;

  text-align: center;

  position: absolute;
  width: 800px;
  top: 20%;
  left: 50%;
  margin-left: -400px;

  animation: 20s colors infinite;
}

.container{
  width: 400px;
  height: 200px;
  position: absolute;

  top: 40%;
  left: 50%;
  margin-left: -200px;

}

.linkedIn {
  background-image: url("../images/linkedin.png");
  background-repeat: no-repeat;

  display: block;

  position: absolute;


  height: 155px;
  width: 150px;
}

.linkedInContainer{
  width: 150px;
  height: 155px;

  display: block;

  position: absolute;

}

.linkedInShadow{
  background-image: url("../images/linkedinHover.png");
  background-repeat: no-repeat;
  display: none;

  width: 150px;
  height: 155px;
}

.behance {
  background-image: url("../images/behance.png");
  background-repeat: no-repeat;

  display: block;

  position: absolute;

  right: 0%;

  height: 155px;
  width: 150px;
}

.behanceContainer{
  width: 150px;
  height: 155px;

  display: block;

  right: 0;

  position: absolute;

}

.behanceShadow{
  background-image: url("../images/behanceHover.png");
  background-repeat: no-repeat;

  display: none;

  width: 150px;
  height: 155px;
}

@keyframes colors {
  0%{
    color: #E687FF;
  }

  25%{
    color: #AAFF27;
  }

  50%{
    color: #ECFF31;
  }

  75%{
    color: : 	#FF82B6;
  }

  100%{
    color: #E687FF;
  }
}
