body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:316px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:185px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:38px;
  width:319px;
  height:185px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(84, 172, 88, 1) 0%, rgba(84, 172, 88, 1) 2%, rgba(69, 136, 70, 1) 100%, rgba(69, 136, 70, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(84, 172, 88, 1) 0%, rgba(84, 172, 88, 1) 2%, rgba(69, 136, 70, 1) 100%, rgba(69, 136, 70, 1) 100%);
  background:linear-gradient(180deg, rgba(84, 172, 88, 1) 0%, rgba(84, 172, 88, 1) 2%, rgba(69, 136, 70, 1) 100%, rgba(69, 136, 70, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:516px;
  width:324px;
  height:52px;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham-XLight', 'Gotham';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:531px;
  width:150px;
  height:21px;
  font-family:'Gotham-XLight', 'Gotham';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham-XLight', 'Gotham';
  font-weight:400;
  font-style:normal;
  color:#55AC57;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:245px;
  width:280px;
  height:113px;
  font-family:'Gotham-XLight', 'Gotham';
  font-weight:400;
  font-style:normal;
  color:#55AC57;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(51, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham-XLight', 'Gotham';
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:9px;
  width:149px;
  height:26px;
  font-family:'Gotham-XLight', 'Gotham';
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:4px;
  width:29px;
  height:30px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:122px;
  background:inherit;
  background-color:rgba(51, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:320px;
  height:122px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
  background:inherit;
  background-color:rgba(68, 137, 69, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:320px;
  height:39px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham-XLight', 'Gotham';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:46px;
  width:280px;
  height:23px;
  font-family:'Gotham-XLight', 'Gotham';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
  background:inherit;
  background-color:rgba(85, 172, 87, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:320px;
  height:39px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham-XLight', 'Gotham';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:86px;
  width:280px;
  height:23px;
  font-family:'Gotham-XLight', 'Gotham';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  background:linear-gradient(180deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:-3px;
  width:45px;
  height:40px;
  color:#D7D7D7;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:8px;
  width:28px;
  height:5px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:16px;
  width:28px;
  height:5px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:24px;
  width:28px;
  height:5px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
