body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham-Light', 'Gotham';
  font-weight:400;
  font-style:normal;
  color:#55AC57;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:137px;
  width:280px;
  height:290px;
  font-family:'Gotham-Light', 'Gotham';
  font-weight:400;
  font-style:normal;
  color:#55AC57;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  background:linear-gradient(180deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 102, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:516px;
  width:320px;
  height:52px;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  background:linear-gradient(180deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 102, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
  text-align:center;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:516px;
  width:320px;
  height:52px;
  font-size:20px;
  color:#F2F2F2;
  text-align:center;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:320px;
  word-wrap:break-word;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:122px;
  background:inherit;
  background-color:rgba(51, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:320px;
  height:122px;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
  background:inherit;
  background-color:rgba(68, 137, 69, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:320px;
  height:39px;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham-Light', 'Gotham';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:46px;
  width:280px;
  height:23px;
  font-family:'Gotham-Light', 'Gotham';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
  background:inherit;
  background-color:rgba(85, 172, 87, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:320px;
  height:39px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham-Light', 'Gotham';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:86px;
  width:280px;
  height:23px;
  font-family:'Gotham-Light', 'Gotham';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  background:linear-gradient(180deg, rgba(85, 172, 87, 1) 0%, rgba(85, 172, 87, 1) 0%, rgba(68, 137, 69, 1) 100%, rgba(68, 137, 69, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:-7px;
  width:45px;
  height:40px;
  color:#D7D7D7;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:4px;
  width:28px;
  height:5px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:12px;
  width:28px;
  height:5px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:20px;
  width:28px;
  height:5px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham-Light', 'Gotham';
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:280px;
  height:26px;
  font-family:'Gotham-Light', 'Gotham';
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
